* {
    font-family: Arial, Helvetica, sans-serif;
    background: lightgoldenrodyellow;
    font-size: 25px;
}

.form {
    margin: 0 auto;
    text-align: center;
    display: block;
    margin: 5px;
}